<div class="sidebar d-flex flex-column flex-shrink-0 p-3 vh-100">
  <a
    href="{% url 'members_list' %}"
    class="brand d-flex align-items-center mb-3 mb-md-0 text-decoration-none"
  >
    <span class="brand-icon">
      <i class="bi bi-person-bounding-box"></i>
    </span>
    <span class="brand-text">SGM</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    {% if user.is_authenticated %} {% url 'members_list' as members_list_url %}
    <li class="nav-item">
      <a
        href="{{ members_list_url }}"
        class="nav-link {% if request.path == members_list_url %}active{% endif %}"
      >
        <i class="bi bi-people me-2"></i>
        Membros
      </a>
    </li>

    {% url 'contributions_list' as contributions_list_url %}
    <li>
      <a
        href="{{ contributions_list_url }}"
        class="nav-link {% if request.path == contributions_list_url %}active{% endif %}"
      >
        <i class="bi bi-cash-coin me-2"></i>
        Contribuições
      </a>
    </li>

    {% url 'contribution_new' as new_contribution_url %}
    <li>
      <a
        href="{{ new_contribution_url }}"
        class="nav-link {% if request.path == new_contribution_url %}active{% endif %}"
      >
        <i class="bi bi-plus-circle me-2"></i>
        Nova Contribuição
      </a>
    </li>

    {% url 'expenses_list' as expenses_list_url %}
    <li>
      <a
        href="{{ expenses_list_url }}"
        class="nav-link {% if request.path == expenses_list_url %}active{% endif %}"
      >
        <i class="bi bi-cash-stack me-2"></i>
        Saídas
      </a>
    </li>

    {% url 'expense_new' as expense_new_url %}
    <li>
      <a
        href="{{ expense_new_url }}"
        class="nav-link {% if request.path == expense_new_url %}active{% endif %}"
      >
        <i class="bi bi-plus-circle me-2"></i>
        Nova Saída
      </a>
    </li>

    {% url 'finance_dashboard' as finance_dashboard_url %}
    <li>
      <a
        href="{{ finance_dashboard_url }}"
        class="nav-link {% if request.path == finance_dashboard_url %}active{% endif %}"
      >
        <i class="bi bi-graph-up-arrow me-2"></i>
        Dashboard Financeiro
      </a>
    </li>

    {% url 'finance_report' as finance_report_url %}
    <li>
      <a
        href="{{ finance_report_url }}"
        class="nav-link {% if request.path == finance_report_url %}active{% endif %}"
      >
        <i class="bi bi-file-earmark-text me-2"></i>
        Relatório Financeiro
      </a>
    </li>

    {% if user.is_superuser %}
    <hr />
    {% url 'register' as register_url %}
    <li>
      <a
        href="{{ register_url }}"
        class="nav-link {% if request.path == register_url %}active{% endif %}"
      >
        <i class="bi bi-person-plus me-2"></i>
        Novo Usuário
      </a>
    </li>
    {% url 'users_list' as users_list_url %}
    <li>
      <a
        href="{{ users_list_url }}"
        class="nav-link {% if request.path == users_list_url %}active{% endif %}"
      >
        <i class="bi bi-people me-2"></i>
        Usuários
      </a>
    </li>
    {% url 'groups_list' as groups_list_url %}
    <li>
      <a
        href="{{ groups_list_url }}"
        class="nav-link {% if request.path == groups_list_url %}active{% endif %}"
      >
        <i class="bi bi-shield-lock me-2"></i>
        Grupos de Permissões
      </a>
    </li>
    {% endif %} {% endif %}
  </ul>
  <hr />
  {% if user.is_authenticated %}
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-person-circle me-2"></i>
      <strong>{{ user.username }}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
    </ul>
  </div>
  {% endif %}
</div>
