<div class="d-flex flex-column p-3">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <i class="bi bi-person-bounding-box fs-4 me-2"></i>
    <span class="fs-4">SGM</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    {% if user.is_authenticated %}
    <li class="nav-item mb-2">
      <span class="nav-link text-white">
        <i class="bi bi-person-circle"></i>
        Olá, <strong>{{ user.username }}</strong>
      </span>
    </li>
    <li>
      <a href="{% url 'members_list' %}" class="nav-link">
        <i class="bi bi-people"></i>
        Membros
      </a>
    </li>
    <li>
      <a href="{% url 'contributions_list' %}" class="nav-link">
        <i class="bi bi-cash-coin"></i>
        Contribuições
      </a>
    </li>
    <hr />
    <li>
      <a href="{% url 'register' %}" class="nav-link">
        <i class="bi bi-person-gear"></i>
        Novo ADM
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}" class="nav-link">
        <i class="bi bi-box-arrow-right"></i>
        Sair
      </a>
    </li>
    {% endif %}
  </ul>
</div>

