{% extends "base.html" %}

<!doctype html>

{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
    <form method="GET" action="{% url  'members_list' %}">
        <input type="text" name="search" placeholder="Buscar membro...">
        <button type="submit">Buscar</button>
    </form>

    <div class="conteiner">

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Cidade de Nascimento</th>
                    <th scope="col">Estado de Nascimento</th>
                    <th scope="col">Data de Batismo</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <Tbody>
                {% for member in members %}
                <tr class="table-success">
                    <td>{{ member.name }}</td>
                    <td>{{ member.cpf }}</td>
                    <td>{{ member.date_birth | date:"d-m-Y"}}</td>
                    <td>{{ member.city_birth }}</td>
                    <td>{{ member.state_birth }}</td>
                    <td>{{ member.date_baptism | date:"d-m-Y"}}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.cep | default:"-"}}</td>

                    <td>
                    <a href="" class="btn btn-outline-secondary btn-sm">Editar</a>
                    <a href="" class="btn btn-outline-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </Tbody>
        </table>
    </div>



{% endblock  %}