{% extends "base.html" %}
{% load static %}

<!doctype html>

{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  rel="stylesheet" href="{% static 'css/tabela.css' %}">

  </head>

    <form method="GET" action="{% url  'members_list' %}">
        <input type="text" name="search" placeholder="Buscar membro...">
        <button type="submit">Buscar</button>
        <a href="{% url 'exportar_excel' %}">Exportar</a>
    </form>

    <div class="conteiner">

        <table class="tabela" >
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <Tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.cpf }}</td>
                    <td>
                    <div class="btn">
                        <a href="{% url 'member_update' pk=member.pk %}" class="btn btn-update">Editar</a>
                        <a href="{% url 'member_delete' pk=member.pk%}"  class=" btn btn-danger">Excluir</a>
                        <a href="{% url 'member_detail' pk=member.pk %}" class=" btn btn-detail">Detalhe</a>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </Tbody>
        </table>
    </div>



{% endblock  %}