{% extends "base1.html" %}

{% block title %}Novo Membro{% endblock title %}

{% block content %}

<div class="container mt-4">
    <h3 class="diplay-4">Novo Membro</h3>
    <div class='row'>
        <div class="card">
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Salvar Membro</button>
                    <a href="{% url 'members_list' %}" class="btn btn-danger">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}