{% extends "base1.html" %}

{% block title %}Novo Membro{% endblock title %}

{% block content %}
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Toast Container -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% if form.errors %}
            <div class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        <strong>Erros no formulário:</strong>
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="container mt-4">
    <h3 class="diplay-4">Novo Membro</h3>
    <div class='row'>
        <div class="card">
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Salvar Membro</button>
                    <a href="{% url 'members_list' %}" class="btn btn-danger">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}