{% extends "base_auth.html" %}
{% load widget_tweaks %}

{% block title %}SGM - Login{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body p-4">
    <h1 class="h2 text-center mb-4">Login</h1>
    <form method="post">
      {% csrf_token %}
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">{{ login_form.username.label }}</label>
          {% render_field login_form.username class="form-control" placeholder="Usuário" %}
        </div>
        <div class="col-12">
          <label class="form-label">{{ login_form.password.label }}</label>
          {% render_field login_form.password class="form-control" placeholder="Senha" %}
        </div>
      </div>
      
      {% if login_form.errors %}
      <div class="alert alert-danger mt-3">
          {% for field, error_list in login_form.errors.items %}
              {% for error in error_list %}
                  {{ error }}
              {% endfor %}
          {% endfor %}
      </div>
      {% endif %}

      <hr class="my-4" />

      <button class="w-100 btn btn-primary btn-lg" type="submit">
        Entrar
      </button>
    </form>
  </div>
</div>
{% endblock content %}
